/bin/
/build/
/.gradle/
/src/main/resources/at/irsigler/valiantcalendar/client_secret.json
/gradlew
/gradlew.bat
/gradle/wrapper/gradle-wrapper.properties
/gradle/wrapper/gradle-wrapper.jar
/.idea/
/out/
